AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

AUTH_SECRET=
AUTH_URL=http://localhost:3002

NEXT_PUBLIC_APP_NAME=Planner Importer
APP_TIMEZONE=America/Monterrey

MAX_UPLOAD_SIZE_MB=10
MAX_IMPORT_ROWS=2000
IMPORT_CONCURRENCY=5
IMPORT_MAX_RETRIES=4
